@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
.fa {
  font-size: 1.2rem;
}

input {
  padding: .375em .75em !important;
}

