<nb-card>
    <nb-card-header>
      Tipos de comprobante
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (deleteConfirm)="onDeleteConfirm($event)"
        (rowSelect)="onRowSelect($event)"
        (createConfirm)="onCreateConfirm($event)"
        (editConfirm)="onSaveConfirm($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
</nb-card>
  